a{
    text-decoration: none;
    color: black;
    
}

body{
    font-family:Microsoft YaHei;
    background-color: #eeeeee;
}
.mbheader{
    padding: 10px;
    background-color: #ffffff;
    padding-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;

}
.touxian{
    display: table-cell;
    width:10%;
    padding-left: 20px;

}
.touxian img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.hdsearch{
    display: table-cell;
    width: 80%;
    padding: 0 10%;
}
.hdsearch input{
    border-radius: 30px;
    height: 50px;
    background-color: #eeeeee;
}

.caidan{
    display: table-cell;
    width: 10%;
    text-align: right;
    padding-right: 20px;
    font-size: 36px;
    vertical-align: middle;
}
.v_area{
    margin-top: 20px;
    padding: 0 5px;
}
.v_area a{
    display:inline-block;
    font-size: 26px;
    width: 100px;
    /* padding: 10px 100px 10px 0px; */

}

.banner img{
    width: 960px;
    height: 644px;
    object-fit: cover;
    /* padding: 0 10px; */
}

.imglist{
    margin-top: 10px;
    padding: 0 10px;
}
.imglist ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 0px;
    text-align: justify;
}
.imglist ul li {
    display: inline-block;
    padding: 2px;
    width: 470px;
    /* height: 500px; */
    border: 1px solid #e8eaec;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.2);
    vertical-align: top;
    background-color: white;
}
.imglist ul li img{
    width: 464px;
    height: 312px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    object-fit: cover;
}
.imglist ul li p{
    font-size: 24px;
    margin: 5px 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap
}
.justify-fix {
    display: inline-block;
    width: 432px;
}

.nheader{
    margin-top: 10px;
    padding: 0 10px;
    /* background-color: white; */
}

.nheader p{
    margin: 0px;
    font-size: 30px;
    font-weight: 500;
    color: #bbbbbb;
    position: relative;
}
.nheader a{
    position: absolute;
    right: 20px;
    color: #bbbbbb;
}

.fenglei{
    position: absolute;
    /* width: 100%; */
    /* height: 1000px; */
    background-color: #eeeeee;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    font-size: 0;
    display: none;
}

.fleft{
    width: 50%;
    height: 100%;
    background-color: #161616;
    /* display: table-cell; */
    /* position: absolute; */
    font-size: 24px;
    color: white;
}
.bj li{
    padding:5px;
    border-bottom: 1px solid #ffffff;
    cursor: pointer;
}
.bj a{
    background-color: black !important;
    color: white;
    font-weight: 500;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sul{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    background-color: darkgray;
    height: 100%;
    overflow: auto;
}
.sul a{
    background-color: darkgray !important;
}
.clossp{
    display: none;
}
.showsp{
    display: block;
}

/* .pagination a{
    font-size: 40px;
} */